body {
	background-color: black;
}
#startlogo {
	width: 50%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1 {
	color: white;
	font-family: arial black;
	text-align: center;
}

#loginForm{
	text-align: center;
}
input[type=submit] {
	background-color: gray;
 	color: white;
  	padding: 8px 16px;
 	cursor: pointer;
}
p {
	color: white;
	text-align: center;
}
.menu {
	color: white;
}